<div class="row">
	<div class="col-md-2 feeds-discover">
		<a href="#">Feeds</a><br />
		<a href="#">Discover</a>
	</div>

	<div class="col-md-8 panel panel-default">
		<div>
			<div class="nav-center">
				<ul class="nav nav-pills">
					<li class="tab-border active"><a data-toggle="pill" href="#photo_tab">PHOTO</a></li>
					<li class="tab-border"><a data-toggle="pill" href="#album_tab">ALBUM</a></li>
				</ul>
			</div>
		</div>

		<div class="tab-content">
			<div id="photo_tab" class="tab-pane fade in active">
				<p>photo</p>
			</div>

			<div id="album_tab" class="tab-pane fade">
				<p>album</p>
			</div>
		</div>
	</div>
</div>